.main-content { margin-top: 20px; }
pre {
    background-color: #f4f4f4; border: 1px solid #ddd;
    border-left: 3px solid #f36d33; color: #666;
    font-family: monospace; font-size: 14px;
    line-height: 1.4; padding: 0.5em 1em;
    overflow: auto; word-wrap: break-word;
}
.card, .compact-row { margin-bottom: 10px; }
.card-title { font-size: 16px; }
.card-text, .collateral-inputs, .collateral-buttons, .nav-tabs { margin-top: 10px; }
.collateral-buttons button { margin-right: 10px; }
.toast-container {
    position: fixed; bottom: 1rem; right: 1rem; z-index: 1060;
}
.small-label {
    font-size: 12px; color: grey; margin-left: 10px; display: inline-block; vertical-align: middle;
}
.input-container {
    display: flex; align-items: center;
}
.question-mark {
    font-size: 14px; color: gray; margin-left: 5px; cursor: help; position: relative;
}
.question-mark:hover .custom-tooltip {
    visibility: visible; opacity: 1;
}
.custom-tooltip {
    visibility: hidden; width: 200px; background-color: #333; color: #fff; text-align: center;
    border-radius: 6px; padding: 5px; position: absolute; z-index: 1; bottom: 125%; left: 50%;
    margin-left: -100px; opacity: 0; transition: opacity 0.3s;
}
.custom-tooltip::after {
    content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px;
    border-width: 5px; border-style: solid; border-color: #333 transparent transparent transparent;
}
.nav{ margin-bottom: 1rem; }
.loading-bar {
    display: none;
    height: 2px;
    background-color: #007bff;
    animation: loading 1s infinite;
}
@keyframes loading {
    0% { width: 0%; }
    50% { width: 50%; }
    100% { width: 100%; }
}
