# IDE
.vscode/
.idea/
.DS_Store

# Project-specific content
/.geth_keystore/
/geth_keystore/
/.secret
/logs/
/docker-compose/local/volumes/
/liquidity-provider-server
/server.db
pwd.txt
/docker-compose/volumes
/docker-compose/.env.testnet
test/integration/integration-test.config.json
integration/geth_keystore

/docker-compose/lbc-deployer/liquidity-bridge-contract/
keystore/
build/
/**/.env.regtest
/**/gh_token.txt
!sample-config.env
/**/*.env
/**/.env*
