# IDE
.vscode/
.idea/

# Project-specific content
/.geth_keystore/
/.secret
/logs/
/docker-compose/local/volumes/
/config.json
/liquidity-provider-server
/server.db

.DS_Store

/docker-compose/lbc-deployer/liquidity-bridge-contract/
