version: "3"
services:
  mongodb:
    image: mongo:4
    restart: on-failure
    container_name: mongo01
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
      - MONGO_INITDB_DATABASE=$MONGODB_DATABASE
    ports:
      - 27017:27017
    volumes:
      - ${MONGO_HOME:-/mnt/mongo}/logs:/data/db
    expose:
      - 27017
    networks:
      - net_lps
  lps:
    build:
      context: ../
      dockerfile: docker-compose/lps/Dockerfile
      args:
        UID: "${LPS_UID}"
    image: lps:latest
    container_name: lps01
    environment:
      - LPS_STAGE
      - SERVER_PORT
      - LOG_LEVEL
      - LOG_FILE
      - ENABLE_MANAGEMENT_API
      - MONGODB_USER
      - MONGODB_PASSWORD
      - MONGODB_HOST
      - MONGODB_PORT
      - RSK_ENDPOINT
      - CHAIN_ID
      - LBC_ADDR
      - RSK_BRIDGE_ADDR
      - RSK_REQUIRED_BRIDGE_CONFIRMATIONS
      - IRIS_ACTIVATION_HEIGHT
      - ERP_KEYS
      - ACCOUNT_NUM
      - DAO_FEE_COLLECTOR_ADDRESS
      - KEY_SECRET
      - PASSWORD_SECRET
      - RSK_CONFIRMATIONS
      - BTC_NETWORK
      - BTC_USERNAME
      - BTC_PASSWORD
      - BTC_ENDPOINT
      - BTC_TX_FEE_RATE
      - BTC_ENCRYPTED_WALLET
      - BTC_WALLET_PASSWORD
      - BTC_CONFIRMATIONS
      - ALERT_SENDER_EMAIL
      - ALERT_RECIPIENT_EMAIL
      - BTC_ADDR
      - PROVIDER_NAME
      - BASE_URL
      - PROVIDER_TYPE
      - PEGIN_TIME_FOR_DEPOSIT
      - PEGIN_CALL_TIME
      - PEGIN_PENALTY_FEE
      - PEGIN_FEE
      - PEGIN_MIN_TRANSACTION_VALUE
      - PEGIN_MAX_TRANSACTION_VALUE
      - PEGOUT_TIME_FOR_DEPOSIT
      - PEGOUT_CALL_TIME
      - PEGOUT_PENALTY_FEE
      - PEGOUT_FEE
      - PEGOUT_MIN_TRANSACTION_VALUE
      - PEGOUT_MAX_TRANSACTION_VALUE
      - PEGOUT_EXPIRE_BLOCKS
      - PEGOUT_DEPOSIT_CACHE_START_BLOCK
      - CAPTCHA_SECRET_KEY
      - CAPTCHA_SITE_KEY
      - CAPTCHA_THRESHOLD
      - DISABLE_CAPTCHA
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
    ports:
      - "8080:8080"
    volumes:
      - ${LPS_HOME:-/mnt/lps/db}:/home/lps/db
      - ${LPS_HOME:-/mnt/lps/logs}:/home/lps/logs
    networks:
      - net_lps
    command: ["sh", "-x", "start.sh"]
  lbc-deployer:
    build:
      context: lbc-deployer
      args:
        LBC_GIT_BRANCH: "${LBC_GIT_BRANCH:-QA-Test}"
    image: lbc-deployer:latest
    container_name: lbc-deployer01
    environment:
      - LPS_STAGE
    networks:
      - net_lps

networks:
  net_lps:
    driver: "bridge"
