version: "3"
services:
  mongodb:
    image: mongo:4
    restart: on-failure
    container_name: mongo01
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
      - MONGO_INITDB_DATABASE=$MONGODB_DATABASE
    ports:
      - 27017:27017
    volumes:
      - ${MONGO_HOME:-/mnt/mongo}/logs:/data/db
    expose:
      - 27017
    networks:
      - net_lps
  lps:
    build:
      context: ../
      dockerfile: docker-compose/lps/Dockerfile
      args:
        UID: "${LPS_UID}"
        COMMIT_HASH: "${COMMIT_HASH}"
        COMMIT_TAG: "${COMMIT_TAG}"
    image: lps:latest
    container_name: lps01
    environment:
      - LPS_STAGE
      - SERVER_PORT
      - LOG_LEVEL
      - LOG_FILE
      - ENABLE_MANAGEMENT_API
      - MONGODB_USER
      - MONGODB_PASSWORD
      - MONGODB_HOST
      - MONGODB_PORT
      - RSK_ENDPOINT
      - CHAIN_ID
      - LBC_ADDR
      - RSK_BRIDGE_ADDR
      - RSK_REQUIRED_BRIDGE_CONFIRMATIONS
      - IRIS_ACTIVATION_HEIGHT
      - ERP_KEYS
      - ACCOUNT_NUM
      - DAO_FEE_COLLECTOR_ADDRESS
      - KEY_SECRET
      - PASSWORD_SECRET
      - BTC_NETWORK
      - BTC_USERNAME
      - BTC_PASSWORD
      - BTC_ENDPOINT
      - ALERT_SENDER_EMAIL
      - ALERT_RECIPIENT_EMAIL
      - PROVIDER_NAME
      - BASE_URL
      - PROVIDER_TYPE
      - PEGOUT_DEPOSIT_CACHE_START_BLOCK
      - CAPTCHA_SECRET_KEY
      - CAPTCHA_SITE_KEY
      - CAPTCHA_THRESHOLD
      - DISABLE_CAPTCHA
      - CAPTCHA_URL
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
      - AWS_LOCAL_ENDPOINT
      - MANAGEMENT_AUTH_KEY
      - MANAGEMENT_ENCRYPTION_KEY
      - MANAGEMENT_TOKEN_AUTH_KEY
      - MANAGEMENT_USE_HTTPS
      - ENABLE_SECURITY_HEADERS
      - WALLET
      - SECRET_SRC
      - KEYSTORE_FILE
      - KEYSTORE_PWD
      - BOOTSTRAP_TIMEOUT
      - WATCHER_PREPARATION_TIMEOUT
      - WATCHER_VALIDATION_TIMEOUT
      - DATABASE_INTERACTION_TIMEOUT
      - MINING_WAIT_TIMEOUT
      - DATABASE_CONNECTION_TIMEOUT
      - SERVER_READ_HEADER_TIMEOUT
      - SERVER_WRITE_TIMEOUT
      - SERVER_IDLE_TIMEOUT
      - PEGOUT_DEPOSIT_CHECK_TIMEOUT
    ports:
      - "8080:8080"
    volumes:
      - ${LPS_HOME:-/mnt/lps/db}:/home/lps/db
      - ${LPS_HOME:-/mnt/lps/logs}:/home/lps/logs
    networks:
      - net_lps
    command: ["liquidity-provider-server"]
  lbc-deployer:
    build:
      context: lbc-deployer
      args:
        LBC_GIT_BRANCH: "${LBC_GIT_BRANCH:-master}"
    image: lbc-deployer:latest
    container_name: lbc-deployer01
    environment:
      - LPS_STAGE
    networks:
      - net_lps

networks:
  net_lps:
    driver: "bridge"
