version: "3"
services:
  lps:
    build:
      context: ../../
      dockerfile: docker-compose/lps/Dockerfile
      args:
        UID: "${LPS_UID}"
    image: lps:latest
    container_name: lps01
    environment:
      - BASE_URL
      - PROVIDER_NAME
      - PEGIN_PROVIDER_FEE
      - PEGIN_PROVIDER_MIN_TRANSACTION_VALUE
      - PEGIN_PROVIDER_MAX_TRANSACTION_VALUE
      - PEGOUT_PROVIDER_FEE
      - PEGOUT_PROVIDER_MIN_TRANSACTION_VALUE
      - PEGOUT_PROVIDER_MAX_TRANSACTION_VALUE
      - PROVIDER_TYPE
      - LOG_FILE
      - DEBUG
      - IRIS_ACTIVATION_HEIGHT
      - SERVER_PORT
      - DB_PATH
      - RSK_ENDPOINT
      - RSK_BRIDGE_ADDR
      - RSK_REQUIRED_BRIDE_CONFIRMATIONS
      - PEGIN_PROVIDER_KEY_DIR
      - PEGIN_PROVIDER_BTC_ADDR
      - PEGIN_PROVIDER_ACCOUNT_NUM
      - PEGIN_PROVIDER_PWD_FILE
      - PEGIN_PROVIDER_CHAIN_ID
      - PEGIN_PROVIDER_MAX_CONF
      - PEGIN_PROVIDER_CONFIRMATIONS
      - PEGIN_PROVIDER_TIME_FOR_DEPOSIT
      - PEGIN_PROVIDER_CALL_TIME
      - PEGIN_PROVIDER_PENALTY_FEE
      - PEGIN_PROVIDER_KEY_SECRET
      - PEGIN_PROVIDER_PASSWORD_SECRET
      - PEGOUT_PROVIDER_KEY_DIR
      - PEGOUT_PROVIDER_BTC_ADDR
      - PEGOUT_PROVIDER_ACCOUNT_NUM
      - PEGOUT_PROVIDER_PWD_FILE
      - PEGOUT_PROVIDER_MAX_CONF
      - PEGOUT_PROVIDER_CONFIRMATIONS
      - PEGOUT_PROVIDER_TIME_FOR_DEPOSIT
      - PEGOUT_PROVIDER_CALL_TIME
      - PEGOUT_PROVIDER_PENALTY_FEE
      - PEGOUT_PROVIDER_CHAIN_ID
      - PEGOUT_PROVIDER_DEPOSIT_DATE_LIMIT
      - PEGOUT_PROVIDER_EXPIRE_DATE
      - PEGOUT_PROVIDER_EXPIRE_BLOCKS
      - PEGOUT_PROVIDER_KEY_SECRET
      - PEGOUT_PROVIDER_PASSWORD_SECRET
      - LIQUIDITY_PROVIDER_RSK_ADDR
      - PEGIN_LIQUIDITY_PROVIDER_RSK_ADDR
      - PEGOUT_LIQUIDITY_PROVIDER_RSK_ADDR
      - BTCD_RPC_USER
      - BTCD_RPC_PASS
      - RSK_CHAIN_ID
      - LBC_ADDR
      - LPS_STAGE
      - MONGODB_USER
      - MONGODB_PASSWORD
      - MONGODB_DATABASE
      - MONGODB_LOCAL_PORT
      - MONGODB_LOCAL_HOST
      - RSKJ_CONNECTION_STRING
      - ERP_KEYS
      - BTC_NETWORK
      - BTC_TX_FEE_RATE
      - BTC_ENDPOINT
      - BTC_USERNAME
      - BTC_PASSWORD
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
      - ENCRYPT_APP_KEY
      - QUOTE_CACHE_START_BLOCK
      - CAPTCHA_SECRET_KEY
      - CAPTCHA_SITE_KEY
      - CAPTCHA_THRESHOLD
      - DISABLE_CAPTCHA
    ports:
      - "8080:8080"
    volumes:
      - ${LPS_HOME:-./volumes/lps/db}:/home/lps/db
      - ${LPS_HOME:-./volumes/lps/logs}:/home/lps/logs
    networks:
      - net_lps
    command: ["sh", "start.sh"]
