version: "3"
services:
  lbc-deployer:
    build:
      context: ../lbc-deployer
      args:
        LBC_GIT_BRANCH: "${LBC_GIT_BRANCH:-master}"
    image: lbc-deployer:latest
    container_name: lbc-deployer01
    environment:
      - LPS_STAGE
    networks:
      - net_lps
