version: "3"
services:
  bitcoind:
    build:
      context: ../bitcoind
      args:
        UID: "${LPS_UID}"
    image: bitcond:latest
    container_name: bitcoind01
    ports:
      - "5555:5555"
    volumes:
      - ${BTCD_HOME:-./volumes/bitcoind}:/home/bitcoind/.bitcoind
    networks:
      - net_lps
    command: ["bitcoind", "-rpcuser=${BTCD_RPC_USER}", "-rpcpassword=${BTCD_RPC_PASS}", "-addresstype=legacy", "-${LPS_STAGE}", "-printtoconsole", "-server",
              "-txindex", "-deprecatedrpc=signrawtransaction", "-deprecatedrpc=accounts",
              "-rpcbind=0.0.0.0", "-rpcallowip=0.0.0.0/0", "-rpcport=5555"]
  powpeg:
    build:
      context: ../powpeg
      args:
        UID: "${LPS_UID}"
    image: powpeg:latest
    container_name: powpeg-node-instance
    ports:
      - "4444:4444"
    volumes:
      - ${RSKJ_HOME:-./volumes/powpeg}/db:/home/powpeg/.powpeg
      - ${RSKJ_HOME:-./volumes/powpeg}/logs:/home/powpeg/logs
    networks:
      - net_lps
    #    command: tail -f /dev/null
    command: java -cp powpeg.jar -Drsk.conf.file=regtest-fed.conf -Drpc.providers.web.http.bind_address=0.0.0.0 -Drpc.providers.web.cors=* -Drpc.providers.web.ws.enabled=true -Drpc.providers.web.http.hosts.0=localhost -Drpc.providers.web.http.hosts.1=powpeg co.rsk.federate.FederateRunner --regtest --reset
  
  mongodb:
    image: mongo:4
    restart: on-failure
    container_name: mongo01
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
      - DB_NAME=flyover
      - DB_USER=root
      - DB_PASSWORD=root
    ports:
      - 27017:27017
    volumes:
      - ${MONGO_HOME:-./volumes/mongo}/logs:/data/db
    expose:
      - 27017
    networks:
      - net_lps


networks:
  net_lps:
    driver: "bridge"
