name: Liquidity Provider Server CI

on:
  push:
    branches: [ QA-Test, Stable-Test, master ]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-tests:
    name: Unit tests execution
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Check go version
        run: go version

      - name: Install dependencies
        run: go mod download

      - name: Run unit test
        run: make test

  code-lint:
    name: Source code format validation
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@ec5d18412c0aeab7936cb16880d708ba2a64e1ae #v6.2.0
        with:
          version: v1.63.4
          skip-pkg-cache: true
