name: CD for flyover-api dev

on:
  push:
    branches:
      - QA-Test
      
permissions:
  contents: read

jobs:
  execute-command:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
            role-to-assume: ${{ secrets.DEV_ROLE_ARN }}
            aws-region: ${{ secrets.AWS_REGION }}

      - name: Execute deployment command on EC2 instance
        run: |
          aws ssm send-command \
            --document-name "deployBEDevDocument" \
            --instance-ids "$INSTANCE_ID" \
            --document-version '$LATEST'
          echo "Deploy sent to EC2 instance"
        env:
          INSTANCE_ID: ${{ secrets.DEV_INSTANCE_ID }}
