name: LPS E2E test

on:
  push:
    branches: [ QA-Test, Stable-Test, master ]
  pull_request:
    branches: [ QA-Test, Stable-Test, master ]

permissions: read-all

jobs:
  e2e-test:
    name: Server initialization and health check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: Update env file
        run: cd docker-compose/local/ && ./gh-action-env.sh

      - name: Building LPS environment...
        run: cd docker-compose/local/ && LPS_STAGE=regtest ./lps-env.sh up
        shell: bash

      - name: Checking LPS health...
        run: curl -X GET http://localhost:8080/health

      - name: Shutting LPS environment down...
        run: cd docker-compose/local/ && LPS_STAGE=regtest ./lps-env.sh down
